:root {
    --navy: #031A42;
    --white: #fff;
    --blue: #0111FF;
    --softgray: #F3F5F7;
    --softgray2: #CCD8E1;
    --gray: #727379;
    --fwbold: 700;
    --fwextrabold: 800;
    --fwsemibold: 600;
    --fwmedium: 500;
    --fwregular: 400;
    --fwlight: 300;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-70 {
    margin-bottom: 70px;
}


.jumbo-header {
    font-weight: var(--fwextrabold);
    color: var(--navy);
    font-size: 48px;
}

.big-header {
    font-weight: var(--fwbold);
    color: var(--navy);
    font-size: 28px;
}

.small-header {
    font-weight: var(--fwbold);
    color: var(--navy);
    font-size: 18px;
}

.paragraph {
    line-height: 36px;
    color: var(--gray);
    font-size: 18px;
}

.paragraph2 {
    color: var(--navy);
    font-weight: var(--fwregular);
    font-size: 16px;
}

input.form-control {
    padding: 14px 24px 14px 24px;
    border-radius: 50px;
    border: 1px solid var(--softgray2);

}

.medium-header {
    color: var(--navy);
    font-size: 16px;
    font-weight: var(--fwbold);
}

.small-paragraph {
    color: var(--gray);
    font-size: 14px;
    font-weight: var(--fwsemibold);
}

.extra-small-paragraph {
    color: var(--gray);
    font-size: 10px;
    font-weight: var(--fwregular);
}


.btn-secondary {
    padding: 14px 24px 14px 24px;
    border-radius: 50px;
    border: 0;
    background: var(--softgray);
    color: var(--navy);
    font-weight: var(--fwbold);
}

.btn-primary {
    padding: 14px 24px 14px 24px;
    border-radius: 50px;
    border: 0;
    background: var(--blue);
    color: var(--white);
    font-weight: var(--fwbold);
}

.navbar {
    padding: 30px 0 30px 0;
}

.navbar-nav .nav-item {
    padding: 0 20px 0 20px;

}

.navbar-nav .nav-link {
    color: var(--navy);
}

.navbar-nav .nav-item .active {
    color: var(--blue);
    font-weight: var(--fwbold);
}

.header .stats .item:nth-child(2) {
    border-right: 1px solid var(--softgray);
    border-left: 1px solid var(--softgray);
}

.best-items {
    padding: 70px 0 70px 0;
    background: var(--softgray);
}

.best-items .item .info {
    background: var(--white);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 16px;
}

.clear {
    clear: both;
}

.best-items .item {
    margin-bottom: 30px;
}

.best-items .item .info {
transition: all 0.3s ease;
}

.best-items .item:hover .info {
    -webkit-box-shadow: 10px 10px 63px 0px rgba(199,205,227,0.65);
-moz-box-shadow: 10px 10px 63px 0px rgba(199,205,227,0.65);
box-shadow: 10px 10px 63px 0px rgba(199,205,227,0.65);
transition: all 0.3s ease;
}

.best-items .item .info .footer .location {
    float: left;
}

.best-items .item .info .footer .price {
    float: right;
}

.best-items .item .info .footer .price p {
    color: var(--blue);
    font-weight: var(--fwbold);
}

.house-details .header .rating {
    float: right;
}

.house-details .header h3 {
    margin-top: 5px;
    float: right;
    margin-left: 10px;
}

.house-details .house-informations .features .icon {
    float:left;
    margin-right: 12px;
}

.house-details .house-informations .booking {
    padding: 30px;
    border: 1px solid var(--softgray2);
    border-radius: 16px;
}

.house-details .house-informations .booking .item .title {

}
